<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
                 <link rel="stylesheet" href="/css/styles.css" media="all">
        <meta charset="utf-8">
        <title>Winner Page</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Winner</h1>
            </div>
            {% if game.computerPlay == "Player 1 Wins!" %}
             <h3>{{ game.computerPlay }}</h3>
             <img class="winner" src="https://uberfacts.files.wordpress.com/2012/10/rock-paper-and-scissors.jpeg" alt="drawing of rock beats up paper and scissors" />
            {% elseif game.computerPlay == "Player 2 Wins!" %}
            <h3>{{ game.computerPlay }}</h3>
            <img class="winner" src="http://data.whicdn.com/images/5392083/large.gif" alt="paper attacking rock" />
            {% else %}
                <h3>{{ game.computerPlay }}</h3>
                <img src="http://www.teampedia.net/wiki/images/0/0b/Rock.png" alt="rock paper scissors drawing" />
            {% endif %}
             <br>
             <p>
                 User (Player 1) Played: {{ game.getUserInput }} <br>
                 Computer (Player 2) Played: {{ game.computer_input }} 
             </p>
             <button type="button" class= "btn btn-info" name="button"><a href="/">Play Again!</a></button>

        </div>

    </body>
</html>
